*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.header{
    text-align: center;
    margin: 0;
    padding: 20px;       
}

.header .titulo{
     font-weight: 400;
     font-size: 30px;
     color: #666;
}

.list, .container{
    margin: 0;
    padding: 0;
}

.list{
    width: 20%;
    float: left;
    
}

#list{
    width: 80%;
    margin: 15px auto;
    text-align: center;
}

.list > h2, .container > h2, .new-cat > h2{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    
}



.list > ul > li{
    padding: 5px;
    list-style: none;
}

.list > ul > li:hover{
    cursor: pointer;
    background-color: #B5B5BF;
}

.container{
    text-align: center;
    width: 50%;
    float: left;
    
}

.gato {
    display: inline-block;
    margin: 0;
    padding: 0;
    
}

.gato > img{
    cursor: pointer;
    width: 100%;
    padding: 0;
    margin: 0;
}

.gato{
   width: 100%; 
}


.container > p{
    font-size: 1.5em;
}

.new-cat{
    width: 30%;
    float: right;
    
}

.form-group{
    width: 95%;
    font-size: 13px;
    padding: 3px;
}

.form-group > label{
    display: inline-block;
    width: 15%;
}

.form-btn{
    text-align: center;
    margin: 10px 0;
}